/* ~/.config/waybar/style.scss */
@use 'sass:color';
/* Color Variables */
$black: rgba(0, 0, 0, 1);
$cyan: rgba(138, 233, 252, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(128, 128, 128, 0.502);

/* Global Defaults */
* {
    font-family: "JetBrains Mono", "Sans";
    font-size: 14px;
    color: $white;
    // border: 1px solid red;
}

/* Waybar Window */
window#waybar {
    background-color: $black;
    margin: 10px;
    margin-top: 0px;
    border: 0px;
}

#tray {
    padding-right: 4px;
}

#custom-clock {
    padding-right:4px;
}
/* Workspaces */
#workspaces {
    margin: 0px;
}

#mode {
    background-color: $cyan;
    color: $black;
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 2px;
}

#workspaces button {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0 4px;
    border-radius: 0px;
    background-color: $black;
    color: $white;
}



#workspaces button.focused {
    background-color: $cyan;
    color: $black;
}

#workspaces button.urgent {
    background-color: color.adjust($color: $cyan, $lightness: -20%);
    color: $black;
}

#workspaces button.urgent>* {
    color: $black;
}

#workspaces button.focused>* {
    color: $black;
}

#workspaces button:hover,
#workspaces button:hover>* {
    color: $white;
}

#workspaces button.focused:hover,
#workspaces button.focused:hover>* {
    color: $white;
}

#window>* {
    margin: 0px;
    margin: 4px;
    margin-top: 0px;
    font-size: 12px;
    letter-spacing: 0.85px;
    // font-weight: 400;
    margin-left: 4px;
    margin-bottom: 0px;
}

/* Hover Effect */
// #workspaces button:hover,
// #workspaces button > *:hover {
//     background-color: $black;
//     color: $white;
// }
// #workspaces button.focused:hover,
// #workspaces button.focused  *:hover {
//     background-color: $cyan;
//     color: $black;
// }